table {
    border-collapse: collapse;
    min-width: 100%;
    box-shadow: 4px 4px 3px 0px #888;
}

table td {
    border: 1px solid #d7d7d7;
    overflow: hidden;
    word-wrap: break-word;
}

tbody tr:nth-child(odd) {
    background-color: #d7d7d7;
    color: black;
}

tbody tr:nth-child(even) {
    background-color: #ffffff;
    color: black;
}

.tableInput[type="text"] {
    overflow: hidden;
    max-width: 100%;
    width: 100%;
}

.tableWrapper {
    margin-top: 5%;
    margin-bottom: 10px;
}